<!-- history.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Prediction History</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Prediction History</h1>
        <a href="/front">
        <button>Go to Front</button>
    </a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Traffic Situation</th>
                <th>Day</th>
                <th>Time</th>
                <th>Car</th>
                <th>Bike</th>
                <th>Bus</th>
                <th>Truck</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for prediction in predictions %}
            {% set json_data = prediction.input_values | toJson %}
                <tr>
                    <td>{{ prediction.id }}</td>
                    <td>{{ json_data["data_pred"] }}</td>
                    <td>{{ json_data["day"] }}</td>
                    <td>{{ json_data["time"] }}</td>
                    <td>{{ json_data["car"] }}</td>
                    <td>{{ json_data["bike"] }}</td>
                    <td>{{ json_data["bus"] }}</td>
                    <td>{{ json_data["truck"] }}</td>
                    <td>{{ prediction.timestamp | ctime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>