<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Colrolib Templates">
  <meta name="author" content="Colrolib">
  <meta name="keywords" content="Colrolib Templates">
  <!-- Title Page-->
  <title>Au Form Wizard</title>
  <!-- Icons font CSS-->
  <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
  <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
  <!-- Font special for pages-->
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Vendor CSS-->
  <link href="{{ url_for('static',filename='vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
  <link href="{{ url_for('static',filename='vendor/datepicker/daterangepicker.css')}}" rel="stylesheet" media="all">
  <!-- Main CSS-->
  <link href="{{ url_for('static',filename='css/main.css')}}" rel="stylesheet" media="all">
</head>
<body>
  <div class="page-wrapper bg-img-1 p-t-200 p-b-120">
    <div class="wrapper wrapper--w900">
      <div class="card card-4">
        <div class="card-body">
          <ul class="tab-list">
            <li class="tab-list__item active">
              <a class="tab-list__link" href="#tab1" data-toggle="tab">Details </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <form id="myForm" method="POST" action="#">
                <div class="row row-space">
                  <div class="col-2">
                    <div class="input-group input-group-big">
                      <label class="label" for="nitrogen">Nitrogen:</label>
                      <input id="nitrogen" class="input--style-1" type="number"  min="0" value="0">
                      <i class="zmdi zmdi-search input-group-symbol"></i>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="input-group input-group-big">
                      <label class="label" for="phosphorous">Phosphorous:</label>
                      <input id="phosphorous" class="input--style-1" type="number"  min="0" value="0">
                      <i class="zmdi zmdi-search input-group-symbol"></i>
                    </div>
                  </div>
                </div>
                <div class="row row-space">
                  <div class="col-2">
                    <div class="input-group input-group-big">
                      <label class="label" for="potassium">Potassium :</label>
                      <input id="potassium" class="input--style-1" type="number"  min="0" value="0">
                      <i class="zmdi zmdi-search input-group-symbol"></i>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="input-group input-group-big">
                      <label class="label" for="temperature">Temperature:</label>
                      <input id="temperature" class="input--style-1" type="text"  pattern="[0-9]+([.,][0-9]+)?" title="Enter a valid number" value="0">
                      <i class="zmdi zmdi-search input-group-symbol"></i>
                    </div>
                  </div>
                </div>
                <div class="row row-space">
                  <div class="col-2">
                    <div class="input-group input-group-big">
                      <label class="label" for="humidity">Humidity:</label>
                      <input id="humidity" class="input--style-1" type="text"  pattern="[0-9]+([.,][0-9]+)?" title="Enter a valid number" value="0">
                      <i class="zmdi zmdi-search input-group-symbol"></i>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="input-group input-group-big">
                      <label class="label" for="alkaline">Alkaline(pH):</label>
                      <input id="alkaline" class="input--style-1" type="text"  pattern="[0-9]+([.,][0-9]+)?" title="Enter a valid number" value="0">
                      <i class="zmdi zmdi-search input-group-symbol"></i>
                    </div>
                  </div>
                </div>
                <div class="input-group input-group-big">
                  <label class="label" for="rainfall">Rainfall:</label>
                  <input id="rainfall" class="input--style-1" type="text"  pattern="[0-9]+([.,][0-9]+)?" title="Enter a valid number" value="0">
                  <i class="zmdi zmdi-search input-group-symbol"></i>
                </div>
                <button class="btn-submit m-t-0" type="submit">Search</button>


              </form>



              <form action="{{ url_for('history') }}" method="post">
                <br>
                 <button class="btn-submit m-t-2" type="submit" style="background: grey"> History </button>
              </form>


               <form action="{{ url_for('logout') }}" method="post">
                <br>
                 <button class="btn-submit m-t-2" type="submit" style="background: red"> Logout </button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modal-header">
        <h2 id="modalHead"></h2>
      </div>
      <div class="modal-body">
        <div class="row row-space">
          <div class="col-2">
            <p>hello</p>
          </div>
          <div class="col-2">
            <img id="myImage" src="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jquery JS-->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
  <!-- Vendor JS-->
  <script src="{{ url_for('static',filename='vendor/select2/select2.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/jquery-validate/jquery.validate.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap-wizard/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/datepicker/moment.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/datepicker/daterangepicker.js')}}"></script>
  <!-- Main JS-->
  <script src="{{ url_for('static',filename='js/global.js')}}"></script>
  <script>
    document.getElementById('myForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevents the form from submitting traditionally
        // Accessing input values by their IDs
        const nitrogenValue = document.getElementById('nitrogen').value;
        const phosphorousValue = document.getElementById('phosphorous').value;
        const potassiumValue = document.getElementById('potassium').value;
        const temperatureValue = document.getElementById('temperature').value;
        const humidityValue = document.getElementById('humidity').value;
        const alkalineValue = document.getElementById('alkaline').value;
        const rainfallValue = document.getElementById('rainfall').value;
        $.ajax({
          url: '/search',
          type: 'POST',
          data: {
            'nitrogenValue': nitrogenValue,
            'phosphorousValue': phosphorousValue,
            'potassiumValue': potassiumValue,
            'temperatureValue': temperatureValue,
            'humidityValue': humidityValue,
            'alkalineValue': alkalineValue,
            'rainfallValue': rainfallValue,
          },
          dataType: 'json',
          success: function(data) {
           $('#myModal').show();
           $('#modalHead').text(data.data_pred[0]);
           changeImage(data.data_pred[0]);
               // Update details in the modal body
               var detailsElement = document.querySelector('.modal-body p');
               detailsElement.innerHTML = `
               Nitrogen: ${data.nitrogen_value}<br>
               Phosphorous: ${data.phosphorous_value}<br>
               Potassium: ${data.potassium_value}<br>
               Temperature: ${data.temperature_value}<br>
               Humidity: ${data.humidity_value}<br>
               Alkaline: ${data.alkaline_value}<br>
               Rainfall: ${data.rainfall_value}<br>
               `;
             }
           });
      });
    $('.close').click(function() {
      $('#myModal').hide();
    });
  </script>
  <script>
    function changeImage(preds) {
      var baseUrl = "{{ url_for('static', filename='images/') }}";
      var imageUrl = baseUrl + preds + '.jpg';
      var imgElement = document.getElementById('myImage');
      imgElement.setAttribute('src', imageUrl);
    }
  </script>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
<!-- end document-->
